textarea {
    resize:none;
    font:Arial;
    font-size:30px;
}

.True {
    color:blue;
    background-color:green;

}
.False {
    color:red;
    background-color:blue;
}

.jumbotron {
  background-image:url('http://www.glamour.com/images/health-fitness/2014/02/01-friends-dinner-w724.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

