{% extends "layout.html" %}
{% block title %}Check-Mates{% endblock %}
{% block head %} {{ super() }}

{% endblock %}

{% block content %}  
{% for item in items %}
<span id="{{item["name"]}}" class="checkitem {{item["claimed"]}}"> {{ item["name"] }}     {{item["price"]}}</span><br/>
{% endfor %}
<br/>
<div id="total"> </div>
{% endblock %}

{% block jquery %}

<script>


$( document ).ready(function() { 
        $("#total").text("HI");
        var totalVal = parseFloat(1);
        var stuff = {};
        {% for item in items %}
        stuff["{{item["name"]}}"] = parseFloat({{item["price"]}});
        {% endfor %}
        console.log(totalVal - 1);
        for (item in stuff) {
            console.log(stuff[item] - 1);
        }

        $(".checkitem").each(
            function(index) {
            $(this).click(function (evt) {
                $(this).attr('class', 'checkitem True');
                totalVal = totalVal + stuff[$(this).attr("id")]["price"];
                console.log(totalVal);
                $("#total").text(totalVal);
                })
            }
            );
        });
</script>
{% endblock %}
