{% extends "layout.html" %}
{% block title %}Check-Mates{% endblock %}
{% block head %} {{ super() }}

{% endblock %}

{% block content %}  
{% for item in items %}
<span class="checkitem {{item["claimed"]}}"> {{ item["name"] }}     {{item["price"]}}</span><br/>
{% endfor %}
<br/>
{% endblock %}

{% block jquery %}

<script>


$( document ).ready(function() { 
    $(".checkitem").each(
        function(index) {
        $(this).click(function (evt) {
            $(this).attr('class', 'checkitem True');
            }
        }
        );
});
</script>
{% endblock %}
