{% extends "layout.html" %}
{% block title %}Check-Mates{% endblock %}
{% block head %} {{ super() }}

{% endblock %}

{% block content %}  
{% for item in items %}
<span id="{{item["name"]}}" class="checkitem {{item["claimed"]}}"> {{ item["name"] }}     {{item["price"]}}</span><br/>
{% endfor %}
<br/>
<div id="total"> </div>
{% endblock %}

{% block jquery %}

<script>


$( document ).ready(function() { 
        $("#total").text("HI");
        var totalVal = 0.0;
        var stuff = {
        {% for item in items %}
        "{{item["name"]}}":{{item["price"]}},
        {% endfor %}

        };
        $(".checkitem").each(
            function(index) {
            $(this).click(function (evt) {
                $(this).attr('class', 'checkitem True');
                totalVal = totalVal + stuff[$(this).attr("id")]["price"];
                console.log(totalVal);
                $("#total").text(totalVal);
                })
            }
            );
        });
</script>
{% endblock %}
