{% extends "layout.html" %}
{% block title %}Check-Mates{% endblock %}
{% block head %} {{ super() }}

{% endblock %}

{% block content %} 
    <div class="jumbotron">
      <div class="container">
        <div class="nav nav-pills nav-stacked col-md-3">
            <li><a href="/newcheck">New Check</a></li>
            <li><a href="/login">Unresolved Check</a></li>
        </div>
      </div>
    </div>  
{% endblock %}

{% block jquery %}

<script>


$( document ).ready(function() { 

});
</script>
{% endblock %}
